{% extends "base.html" %}
{% block title %}Portfolio{% endblock %}
{% block content %}
<h1>Portfolio</h1>
<p>Cash Account: ${{ user.cash_account }}</p>

<h2>Stocks Owned</h2>
<table class="table">
    <thead>
        <tr>
            <th>Company Name</th>
            <th>Ticker</th>
            <th>Current Price</th>
            <th>Amount Owned</th>
            <th>Total Value</th>
        </tr>
    </thead>
    <tbody>
        {% for stock in stocks_owned %}
        <tr>
            <td>{{ stock.company_name }}</td>
            <td>{{ stock.ticker }}</td>
            <td>${{ stock.current_price }}</td>
            <td>{{ stock.total_amount }}</td>
            <td>${{ stock.current_price * stock.total_amount|to_float }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Add Cash</h2>
<form action="{{ url_for('add_cash') }}" method="post">
    {{ add_cash_form.hidden_tag() }}
    <div class="form-group">
        {{ add_cash_form.amount.label }}<br>
        {{ add_cash_form.amount(size=32) }}
    </div>
    <div class="form-group">
        {{ add_cash_form.submit() }}
    </div>
</form>

<h2>Withdraw Cash</h2>
<form action="{{ url_for('withdraw_cash') }}" method="post">
    {{ withdraw_cash_form.hidden_tag() }}
    <div class="form-group">
        {{ withdraw_cash_form.amount.label }}<br>
        {{ withdraw_cash_form.amount(size=32) }}
    </div>
    <div class="form-group">
        {{ withdraw_cash_form.submit() }}
    </div>
</form>
{% endblock %}
